---
import BaseLayout from "./BaseLayout.astro";
import "../styles/collections.css";
import allStoryUrls from "../pages/collections/collection_details.json";

const { frontmatter } = Astro.props;
const textColor = frontmatter.image.color;
const bgColor = frontmatter.image.bgColor;

const url_parts = frontmatter.url.split("/");
const colUrl = url_parts[url_parts.length - 1];

const colStoryUrls = allStoryUrls[colUrl];

const allStories = Object.values(
    import.meta.glob("../pages/stories/*.md", { eager: true }),
);

const colStories = colStoryUrls.map((surl) =>
    allStories.find((s) => s.file.includes(surl)),
);

console.log(colStories);

/* const colStoryUrls = Object.values(
	import.meta.glob("../pages/collections/collection_details.json", { eager: true }),
)[0];

const colStories = colStoryUrls.map(url => (
    Object.values(import.meta.glob("../pages/stories/" + url + ".md", { eager: true }))[0]
)); */
---

<BaseLayout>
    <article class="collection">
        <header class="col__header">
            <div
                class="col__cover"
                style={{
                    backgroundImage: frontmatter.image.url
                        ? `url(${frontmatter.image.url})`
                        : "none",
                }}
            >
                <h1 class="cover__title">{frontmatter.title}</h1>
                <p class="cover__author">By {frontmatter.author}</p>
            </div>
        </header>
        <main class="col__body">
            <div class="col__desc">
                <slot />
            </div>
            <div class="col__stories">
                {
                    colStories.map(({ url, frontmatter }) => (
                        <a href={url ? url : "#"} class="featured__post">
                            <p class="fpost__date">
                                {new Date(
                                    frontmatter.date,
                                ).toLocaleDateString()}
                            </p>
                            <div class="fpost__title">
                                {frontmatter.title}
                                <div class="post__arrow" />
                            </div>
                            <p class="fpost__author">by {frontmatter.author}</p>
                            <p class="fpost__desc">{frontmatter.description}</p>
                        </a>
                    ))
                }
                <!--                 {colStories.map(story => (
                    <a href={story.url} class="col__story">{story.frontmatter.title}</a>
                ))} -->
            </div>
        </main>
    </article>
</BaseLayout>

<style define:vars={{ textColor, bgColor }}>
    .collection {
        width: 100%;
        margin-top: 5rem;
        display: flex;
        padding: 3rem 5rem 3rem 3rem;
        justify-content: center;
        gap: 4rem
    }

    .col__stories {
        margin: 3rem auto 0;
        max-width: 50rem;
    }

    .col__stories .fpost__title {
        line-height: 1.4;
    }

    .col__story {
        display: block;
        color: var(--text-color);
    }

    .col__header {
        position: relative;
    }

    .col__cover {
        position: sticky;
        top: 6rem;
        /* margin: 3rem auto 0; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 0.6rem;
        padding: 0 2rem 2.5rem;
        width: 22rem;
        aspect-ratio: 3 / 4.25;
        background-color: var(--bgColor);
        background-size: 100%;
        background-repeat: no-repeat;
        color: var(--textColor);
        text-transform: uppercase;
        user-select: none;
    }

    .cover__title {
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.2;
    }

    .cover__author {
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }
    .col__body {
        max-width: 60rem;
        /* margin: 4rem auto 0; */
        margin-top: 4rem;
        line-height: 1.8;
    }
</style>
